@font-face {
  font-family: karina;
  src: url(font/Karina.ttf);
}

body {
  background: linear-gradient(to right, #ecbcff, #ffefad, #9ccaff, #d2ffbf, #ffa7a7, #ffc4f6);
  text-align: center;
  font-family: karina;
}

.header {
  margin-top: 20px;
  margin-bottom: 70px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-flex;
  gap: 800px;
}

.header img {
  width: 160px;
  height: 60px;
}

.header nav {
  background-color: #ecbcff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.header nav:hover {
  background-color: #9ccaff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.header a {
  text-decoration: none;
  color: #ffefad;
}

.header a:hover {
  text-decoration: underline;
  color: #d2ffbf;
}

.header span {
  color: #ffffff;
}

.members {
  display: flex;
  background-color: #ffffff;
  width: 1400px;
  height: 500px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  gap: 25px;
  justify-content: center;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.memberCard {
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  color: #ffffff;
  transition: transform 0.3s ease;
}

.memberCard:hover {
  transform: translateY(-10px);
}

.memberCard img {
  width: 100%;
  height: 160px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

.memberCard h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.memberCard p {
  font-size: 14px;
  line-height: 1.4;
}

.memberCard#sophia {
  background: linear-gradient(to right, #ecbcff, #e091ff);
  box-shadow: 0 10px 25px #ecbcff;
}

.memberCard#manon {
  background: linear-gradient(to right, #ffefad,#ffdf60);
  box-shadow: 0 10px 25px #ffefad;
}

.memberCard#daniela {
  background: linear-gradient(to right, #9ccaff, #63acff);
  box-shadow: 0 10px 25px #9ccaff;
}

.memberCard#lara {
  background: linear-gradient(to right, #d2ffbf, #d2ffbf);
  box-shadow: 0 10px 25px #d2ffbf;
}

.memberCard#megan {
  background: linear-gradient(to right, #ffa7a7, #ee6767);
  box-shadow: 0 10px 25px #ffa7a7;
}

.memberCard#yoonchae {
  background: linear-gradient(to right, #ffc4f6, #ff7fec);
  box-shadow: 0 10px 25px #ffc4f6;
}