@font-face {
  font-family: karina;
  src: url(font/Karina.ttf);
}

body {
  background: linear-gradient(180deg, #ecbcff, #ffefad, #9ccaff, #d2ffbf, #ffa7a7, #ffc4f6);
  text-align: center;
  font-family: karina;
}

.header {
  margin-top: 20px;
  margin-bottom: 70px;
  margin-left: 10px;
  margin-right: 10px;
  display: inline-flex;
  gap: 800px;
}

.header img {
  width: 160px;
  height: 60px;
}

.header nav {
  background-color: #ecbcff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.header nav:hover {
  background-color: #9ccaff;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 20px;
}

.header a {
  text-decoration: none;
  color: #ffefad;
}

.header a:hover {
  text-decoration: underline;
  color: #d2ffbf;
}

.header span {
  color: #ffffff;
}

.shop {
  display: flex;
  background-color: #ffffff;
  width: 1400px;
  height: 400px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 20px;
  gap: 25px;
  justify-content: center;
  margin-top: 40px;
  margin-left: 30px;
  margin-right: 30px;
}

.shopCard {
  width: 280px;
  padding: 20px;
  border-radius: 10px;
  background: linear-gradient(360deg, #ecbcff, #ffefad, #9ccaff, #d2ffbf, #ffa7a7, #ffc4f6);
  color: #000000;
  transition: transform 0.3s ease;
}

.shopCard:hover {
  transform: translateY(-10px);
}

.shopCard img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  border-radius: 6px;
  margin-bottom: 15px;
}

.shopCard h3 {
  margin: 0 0 10px;
  font-size: 20px;
}

.albumCard p {
  font-size: 14px;
  line-height: 1.4;
}